@charset "utf-8";
/* CSS Document */

* {box-sizing:border-box;}
ul {list-style-type: none;
}

.month {
    padding: 10px 10px;
    width: 100%;
    background:#22363f;
	font-family: 'Roboto-Bold', sans-serif;
	font-size:0.8em;
	line-height:0.8em;
}

.month ul {
    margin: 0;
    padding: 0;
	
}

.month ul li {
    color: #DDDDDD;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 2px 0;
    background-color: #ddd;
font-family: 'Roboto-Bold', sans-serif;
font-size:0.7em;


}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
	font-size:0.7em;
	color:#e7540e;
}

.days {
    padding: 2px 0;
    background: #d4d1ca;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:0.7em;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #E7540E;
    color: white !important
}