.jqx-widget-content-style3{border-color: #000; background-color: #fff;}
.jqx-fill-state-normal-style3 {color: #000;background-color: #fff;}
.jqx-widget-header-style3{color: #fff; border-color:#000; background-color:#000}
.jqx-fill-state-hover-style3{border-color:#000; color: #fff; background-color:#000}
.jqx-fill-state-pressed-style3{border-color:#37006e; color: #fff; background-color:#37006e}
.jqx-fill-state-focus-style3 { border-color: #37006e; }
.jqx-scrollbar-state-normal-style3, .jqx-grid-bottomright-style3, .jqx-panel-bottomright-style3, .jqx-listbox-bottomright-style3{background-color:#000}
.jqx-widget-style3 .jqx-grid-column-header-style3, .jqx-grid-cell-style3, .jqx-widget-style3 .jqx-grid-cell-style3, .jqx-widget-style3 .jqx-grid-group-cell-style3, .jqx-grid-group-cell-style3{border-color:#000}
.jqx-tabs-title-selected-bottom-style3, .jqx-tabs-selection-tracker-bottom-style3, .jqx-tabs-title-selected-top-style3, .jqx-tabs-selection-tracker-top-style3{color: #000; border-color:#000; border-bottom:1px solid #fff; background:#fff}
.jqx-grid-cell-sort-alt-style3, .jqx-grid-cell-filter-alt-style3, .jqx-grid-cell-pinned-style3, .jqx-grid-cell-alt-style3, .jqx-grid-cell-sort-style3{ background-color:#000; color: #fff;}
.jqx-grid-cell-selected-style3{ background-color:#37006e;  color:#fff}
.jqx-grid-cell-hover-style3{ background-color:#000; color: #fff;}
.jqx-menu-vertical-style3{background: #000; color: #fff;}
.jqx-checkbox-hover-style3 {
    background-color: #fff;
}
.jqx-radiobutton-hover-style3 {
    background-color: #fff;
}
.jqx-scrollbar-thumb-state-hover-horizontal-style3, .jqx-scrollbar-thumb-state-hover-style3 {
    background: #fff;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-style3, .jqx-scrollbar-thumb-state-pressed-style3 {
    background: #fff;
}
.jqx-icon-arrow-up-hover-style3, .jqx-icon-arrow-up-selected-style3
{
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-down-hover-style3, .jqx-icon-arrow-down-selected-style3

{
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-left-hover-style3, .jqx-icon-arrow-left-selected-style3
{
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-right-hover-style3, .jqx-icon-arrow-right-selected-style3
{
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-first-hover-style3, .jqx-icon-arrow-last-selected-style3
{
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-hover-style3, .jqx-icon-arrow-last-selected-style3
{
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-calendar-hover-style3, .jqx-icon-calendar-pressed-style3 {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-expand-style3,
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-expand-style3 {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-collapse-style3,
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-collapse-style3 {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-collapse-rtl-style3,
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-collapse-rtl-style3 {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-expand-rtl-style3,
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-expand-rtl-style3 {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-menu-item-arrow-right-hover-style3, .jqx-menu-item-arrow-right-selected-style3{background-image:url(images/icon-right-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-down-hover-style3, .jqx-menu-item-arrow-down-selected-style3{background-image:url(images/icon-down-white.png); background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-up-hover-style3, .jqx-menu-item-arrow-up-selected-style3{background-image:url(images/icon-up-white.png);background-position:100% 50%; background-repeat:no-repeat}
.jqx-menu-item-arrow-left-hover-style3, .jqx-menu-item-arrow-left-selected-style3{background-image:url(images/icon-left-white.png); background-position:0 50%; background-repeat:no-repeat}

.jqx-icon-delete-style3
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-style3
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-style3
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-style3
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-style3
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-style3
{
    background-image: url(images/plus_white.png);
}.jqx-widget-style3
{
  font-family: Verdana;
}
.jqx-widget-content-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background: #ffffff;
  font-family: Verdana;
}
.jqx-widget-header-style3, .jqx-grid-style3 .jqx-widget-header-style3
{
  color: #0F0E0E;
  text-shadow: none;
  border-color: #111111;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #FFFFFF);
  background-image: -ms-linear-gradient(top, #ffffff, #FFFFFF);
  background-image: -o-linear-gradient(top, #ffffff, #FFFFFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #ffffff, #FFFFFF);
  background-image: linear-gradient(top, #ffffff, #FFFFFF);
  background-image: linear-gradient(to bottom, #ffffff, #FFFFFF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-style3, .jqx-widget-style3.jqx-grid-column-menubutton-style3
{
  border-color: #111111;
}
.jqx-grid-cell-style3, .jqx-widget-style3 .jqx-grid-cell-style3
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-style3
{
  border-color: #000000;
  background-color: #ffffff;
}
.jqx-widget-style3 .jqx-grid-cell-sort-style3, .jqx-widget-style3 .jqx-grid-cell-filter-style3, .jqx-widget-style3 .jqx-grid-cell-pinned-style3, .jqx-grid-cell-sort-style3, .jqx-grid-cell-filter-style3, .jqx-grid-cell-pinned-style3
{
  background-color: #aaaaaa;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-style3 .jqx-grid-cell-alt-style3, .jqx-widget-style3 .jqx-grid-cell-sort-alt-style3, .jqx-widget-style3 .jqx-grid-cell-pinned-alt-style3, .jqx-widget-style3 .jqx-grid-cell-filter-alt-style3, .jqx-grid-cell-alt-style3, .jqx-grid-cell-sort-alt-style3, .jqx-grid-cell-filter-alt-style3
{
  background-color: #f9f9f9;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-style3, .jqx-widget-style3 .jqx-grid-cell-hover-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-style3, .jqx-widget-style3 .jqx-grid-cell-selected-style3
{
  color: #ffffff;
  text-shadow: none;
  border-color: #37006e;
  background-color: #37006e;
  background-image: -moz-linear-gradient(top, #37006e, #37006e);
  background-image: -ms-linear-gradient(top, #37006e, #37006e);
  background-image: -o-linear-gradient(top, #37006e, #37006e);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#37006e), to(#37006e));
  background-image: -webkit-linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(to bottom, #37006e, #37006e);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-style3
{
  color: #ffffff;
  text-shadow: none;
  border-color: #37006e;
  background-color: #37006e;
  background-image: -moz-linear-gradient(top, #37006e, #37006e);
  background-image: -ms-linear-gradient(top, #37006e, #37006e);
  background-image: -o-linear-gradient(top, #37006e, #37006e);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#37006e), to(#37006e));
  background-image: -webkit-linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(to bottom, #37006e, #37006e);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-style3, .jqx-tabs-selection-tracker-top-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-style3, .jqx-tabs-selection-tracker-bottom-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-style3
{
  background: #ffffff;
}
.jqx-splitter-splitbar-vertical-style3, .jqx-splitter-splitbar-horizontal-style3, .jqx-slider-track-horizontal-style3, .jqx-slider-track-vertical-style3
{
  background: #ffffff;
}
.jqx-splitter-collapse-button-horizontal-style3, .jqx-splitter-collapse-button-vertical-style3, .jqx-slider-rangebar-style3
{
  background: #37006e;
}
.jqx-scrollbar-state-normal-style3
{
  background-color: #000000;
  border-color: #000000;
}
.jqx-grid-bottomright-style3, .jqx-panel-bottomright-style3, .jqx-listbox-bottomright-style3
{
  background-color: #000000;
}
.jqx-scrollbar-thumb-state-normal-style3
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-normal-horizontal-style3
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-style3
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-hover-horizontal-style3
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-style3
{
  background-color: #37006e;
  border-color: #37006e;
  background-image: -moz-linear-gradient(left, #37006e, #37006e);
  background-image: -ms-linear-gradient(left, #37006e, #37006e);
  background-image: -o-linear-gradient(left, #37006e, #37006e);
  background-image: -webkit-gradient(linear, left top, right top, from(#37006e), to(#37006e));
  background-image: -webkit-linear-gradient(left, #37006e, #37006e);
  background-image: linear-gradient(left, #37006e, #37006e);
  background-image: linear-gradient(left right, #37006e, #37006e);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-style3
{
  background-color: #37006e;
  border-color: #37006e;
  background-image: -moz-linear-gradient(top, #37006e, #37006e);
  background-image: -ms-linear-gradient(top, #37006e, #37006e);
  background-image: -o-linear-gradient(top, #37006e, #37006e);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#37006e), to(#37006e));
  background-image: -webkit-linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(to bottom, #37006e, #37006e);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-style3
{
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-style3
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-style3
{
  background-color: #37006e;
  border-color: #37006e;
  background-image: -moz-linear-gradient(top, #37006e, #37006e);
  background-image: -ms-linear-gradient(top, #37006e, #37006e);
  background-image: -o-linear-gradient(top, #37006e, #37006e);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#37006e), to(#37006e));
  background-image: -webkit-linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(top, #37006e, #37006e);
  background-image: linear-gradient(to bottom, #37006e, #37006e);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-style3
{
  background: #000000;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-style3
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-style3
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-style3
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-style3
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-style3
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-style3
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-style3
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-style3
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-style3, .jqx-radiobutton-style3, .jqx-radiobutton-check-checked-style3, .jqx-radiobutton-hover-style3, .jqx-radiobutton-check-indeterminate-style3, .jqx-radiobutton-check-indeterminate-disabled-style3, .jqx-slider-button-style3
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-style3, .jqx-tooltip-style3, .jqx-tooltip-text-style3, .jqx-tooltip-main-style3
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-style3, .jqx-expander-arrow-bottom-style3, .jqx-window-collapse-button-style3, .jqx-menu-item-arrow-up-style3, .jqx-menu-item-arrow-top-up-style3, .jqx-icon-arrow-up-style3
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-style3
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-style3, .jqx-icon-arrow-up-selected-style3.jqx-expander-arrow-expanded-style3
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-style3, .jqx-grid-column-sortdescbutton-style3, .jqx-expander-arrow-top-style3, .jqx-window-collapse-button-collapsed-style3, .jqx-menu-item-arrow-down-style3, .jqx-menu-item-arrow-down-style3, .jqx-tree-item-arrow-expand-style3, .jqx-grid-group-expand-style3, .jqx-widget-style3 .jqx-grid-group-expand-style3, .jqx-icon-arrow-down-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-style3, .jqx-icon-arrow-down-selected-style3
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-style3, .jqx-menu-item-arrow-top-left-style3, .jqx-grid-group-collapse-rtl-style3, .jqx-widget-style3 .jqx-grid-group-collapse-rtl-style3, .jqx-icon-arrow-left-style3, .jqx-icon-arrow-down-left-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-style3
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-style3, .jqx-icon-arrow-left-selected-style3
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-style3, .jqx-menu-item-arrow-top-right-style3, .jqx-menu-item-arrow-collapse-style3, .jqx-grid-group-collapse-style3, .jqx-widget-style3 .jqx-grid-group-collapse-style3, .jqx-icon-arrow-right-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-style3, .jqx-icon-arrow-right-selected-style3
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-style3, .jqx-tabs-close-button-style3, .icon-close-style3
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-style3
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-style3
{
  background-image: url('images/close.png');
}
.jqx-widget-style3 .jqx-grid-column-header-style3, .jqx-widget-style3 .jqx-grid-cell-style3, .jqx-widget-style3 .jqx-grid-group-cell-style3, .jqx-grid-cell-style3
{
  border-color: #000000;
}
.jqx-checkbox-check-checked-style3
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-style3
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-style3, .jqx-tooltip-main-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
}
.jqx-combobox-content-style3, .jqx-input-style3
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
}
.jqx-combobox-input-style3
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-style3
{
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-style3, .jqx-popup-style3 .jqx-fill-state-focus-style3
{
  border-color: #000000;
}
.jqx-popup-style3.jqx-listbox-style3, .jqx-popup-style3.jqx-calendar-style3,.jqx-menu-dropdown-style3,  .jqx-popup-style3.jqx-dropdownbutton-popup-style3
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-style3, .jqx-tree-item-arrow-collapse-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-up-style3
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-left-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-right-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-bottom-style3
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-up-hover-style3
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-left-hover-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-right-hover-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-bottom-hover-style3
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-up-selected-style3
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-left-selected-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-right-selected-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-style3 .jqx-icon-arrow-bottom-selected-style3
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-style3 .jqx-icon-arrow-up-style3, .jqx-tabs-header-style3 .jqx-icon-arrow-up-style3
{
}
.jqx-calendar-style3 .jqx-icon-arrow-left-style3, .jqx-tabs-header-style3 .jqx-icon-arrow-left-style3
{
}
.jqx-calendar-style3 .jqx-icon-arrow-right-style3, .jqx-tabs-header-style3 .jqx-icon-arrow-right-style3
{
}
.jqx-calendar-style3 .jqx-icon-arrow-bottom-style3, .jqx-tabs-header-style3 .jqx-icon-arrow-bottom-style3
{
}
.jqx-widget-style3 .jqx-grid-cell-style3, .jqx-listitem-state-normal-style3, .jqx-menu-item-normal-style3, .jqx-tree-item-normal-style3, .jqx-calendar-cell-style3, .jqx-grid-cell-style3,.jqx-menu-vertical-style3 .jqx-menu-item-top-normal-style3, .jqx-input-popup-style3 .jqx-fill-state-normal-style3
{
  font-family: Verdana;
}
.jqx-widget-style3 .jqx-grid-cell-hover-style3, .jqx-listitem-state-hover-style3, .jqx-menu-item-hover-style3, .jqx-tree-item-hover-style3, .jqx-calendar-cell-hover-style3, .jqx-grid-cell-hover-style3,.jqx-menu-vertical-style3 .jqx-menu-item-top-hover-style3, .jqx-input-popup-style3 .jqx-fill-state-hover-style3,.jqx-input-button-header-style3, .jqx-input-popup-style3 .jqx-fill-state-pressed-style3,.jqx-input-button-header-style3
{
  font-family: Verdana;
}
.jqx-widget-style3  .jqx-grid-cell-selected-style3, .jqx-listitem-state-selected-style3, .jqx-menu-item-selected-style3, .jqx-tree-item-selected-style3, .jqx-calendar-cell-selected-style3, .jqx-grid-cell-selected-style3,.jqx-menu-vertical-style3 .jqx-menu-item-top-selected-style3, .jqx-grid-selectionarea-style3
{
  font-family: Verdana;
}
.jqx-icon-calendar-style3
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-style3
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-style3
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-style3
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-style3
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-style3
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-style3
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-style3
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-style3
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-style3>.jqx-grid-group-expand-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-expand-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-expand-style3
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-style3>.jqx-grid-group-collapse-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-collapse-style3
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-collapse-style3
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-style3>.jqx-grid-group-expand-rtl-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-expand-rtl-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-expand-rtl-style3
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-style3>.jqx-grid-group-collapse-rtl-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-hover-style3>.jqx-grid-group-collapse-rtl-style3
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-style3.jqx-grid-cell-selected-style3>.jqx-grid-group-collapse-rtl-style3
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-style3, .jqx-grid-column-sortdescbutton-style3
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-style3
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-style3
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-style3
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-style3
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-style3
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-style3
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-style3
{
  background-image: url('images/icon-plus.png');
}
